//*------------------------------------*\
// Variables Typo font
//*------------------------------------*/

$font-path: "~@/assets/fonts" !default;

$f-bold         : 700;
$f-semibold     : 500;
$f-regular      : 400;

// Fuentes de icono
$ico-font-family: "a-movie" !default;
// Variables iconos
$i-search                   : "\e900";
$i-slider-indicator-active  : "\e901";
$i-slider-indicator         : "\e900";
$i-tab-indicator            : "\e902";