//*------------------------------------*\
// Variables Color
//*------------------------------------*/

// Neutro
$c-neutro: #fff;
// Primary
// se muestra con mayor frecuencia en las pantallas y componentes
$c-primary      : #9E070B;
// Secondary & tertiary
// Color para acentuar elementos: Botones de acción, Controles de selección, Resaltar texto, Barras de progreso, Enlaces y titulares
$c-secondary      : #111;

// Color para estado hover del menu
$c-menu-over      : #eee;

// Border
$c-border       : #EAEAEA;
$c-border-light : #E5E5E5;
$c-border-over : #dcdcdc;
$c-bg : #F0F0F0;
$c-txt: #3F3F3F;
