/*------------------------------------*\
  Tabs -> Grid
  Path: /components/Tabs.vue
\*------------------------------------*/

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  // grid-auto-rows: minmax(100px, auto);
}

.grid__item {
  position: relative;
  margin: 0 auto;
  &:hover {
    .grid__card-info {
      opacity: 1;
    }
  }
}

.grid__card-info {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: all .3s linear;
}

.grid__card-img {
  display: block;
  width: 100%;
}

.grid__card-title {
  padding-bottom: 30px;
  @include font-rem(20px);
  font-weight: $f-bold;
  text-transform: uppercase;
  color: $c-neutro;
}

.grid__actions {
  margin: -8px 0;
  .btn {
    margin: 8px 0;
  }
}

@include media-query (small) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid__item {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


@include media-query (medium) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include media-query (wide) {
  .grid {
    grid-gap: 20px;
  }

  .grid__card-info {
    padding: 20px 40px;
  }

  .grid__card-title {
    padding-bottom: 40px;
    @include font-rem(30px);
  }
}