

.mt-about {
  padding-bottom: 20px;
  @include media-query(wide) {
    padding-bottom: 30px;
  }
}

.mt-list-definition {
  color: $c-txt;;
}

.mt-ld__term {
  padding-bottom: 14px;
  @include font-rem(20px);
  font-family: 'Montserrat', sans-serif;
  font-weight: $f-bold;
  @include media-query(wide) {
    padding-bottom: 20px;
    @include font-rem(24px);
  }
}
.mt-ld__def {
  padding-bottom: 20px;
  @include font-rem(15px);
  @include media-query(wide) {
    padding-bottom: 30px;
    @include font-rem(16px);
  }
}