

.mt-contact {
  padding: 30px 0;
  @include media-query(wide) {
    padding: 40px 0;
  }
}

.mt-contact__list {
  padding-left: 0;
  list-style: none;
  color: $c-txt;
  text-align: center;
}

.mt-contact__item {
  padding-bottom: 10px;
  a {
    color: $c-txt;
    text-decoration: none;
    @include font-rem(15px);
    &:hover {
      text-decoration: underline;
    }
    @include media-query(small-m) {
      @include font-rem(18px);
    }
    @include media-query(wide) {
      @include font-rem(20px);
    }
  }
}
.mt-contact__item_mail,
.mt-contact__item_phone {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  &:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
}

.mt-contact__item_mail{
  &:before {
    background-image: url('../img/social/mail.svg');
  }
}

.mt-contact__item_phone {
  &:before {
    background-image: url('../img/social/phone.svg');
  }
}

.mt-contact__item_follow {
  font-weight: $f-bold;
  padding-top: 10px;
}

.mt-contact__social-list {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  padding-top: 16px;
}

.mt-contact__social {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  @include font-rem(1px);
  a {
    color: transparent;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    @include font-rem(1px);
    color: transparent;
  }
}

.mt-contact__social_first {
  background-image: url('../img/social/facebook.svg');
}

.mt-contact__social_second {
  background-image: url('../img/social/linkedin.svg');
}

.mt-contact__social_third {
  background-image: url('../img/social/instagram.svg');
}
