
.mt-footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('../img/bg-footer.jpg');
  padding: 40px 0 0;
}

.mt-footer__nav {
  @include flexbox;
  @include justify-content(space-around);
  @include align-items(center);
  @include flex-direction(column);
  width: 100%;
  list-style: none;
  padding-bottom: 40px;
  @include media-query(medium) {
    @include flex-direction(row);
  }
}

.mt-footer__nav-item {
  @include media-query(medium-max) {
    padding-bottom: 20px;
  }
}

.mt-footer__nav-item_brand {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include media-query(medium-max) {
    @include order(3);
    padding-bottom: 0;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-image: url('../img/logo-white.svg');
  }
}

.mt-footer__social-list {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
  padding: 0 20px;
}

.mt-footer__social-item {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 6px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  &:nth-child(1) {
    background-image: url('../img/facebook.svg');
  }
  &:nth-child(2) {
    background-image: url('../img/linkedin.svg');
  }
  &:nth-child(3) {
    background-image: url('../img/instagram.svg');
  }
}

.mt-footer__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: $f-bold;
  color: $c-neutro;
  padding-bottom: 10px;
}

.mt-footer__social-link {
  display: block;
  height: 100%;
  @include font-rem(1px);
  color: transparent;
}

.mt-footer__list-link,
.mt-footer__info-link {
  display: block;
  color: $c-neutro;
  text-decoration: none;
  padding-bottom: 6px;
  @include font-rem(14px);
  &:hover {
    text-decoration: underline;
  }
}

.mt-footer__list-link {
  @include flexbox;
  @include align-items(center);
  &:before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    height: 10px;
    width: 10px;
    margin-right: 6px;
    background-image: url('../img/bullet-white.svg');
  }
}

.mt-footer__info-item {
  @include flexbox;
  @include align-items(center);
  &:before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    height: 16px;
    width: 23px;
    margin-right: 6px;
  }
  &:nth-child(1) {
    &:before {
      background-image: url('../img/footer/ubicacion.svg');
    }
  }
  &:nth-child(2) {
    &:before {
      background-image: url('../img/footer/telefono.svg');
    }
  }
  &:nth-child(3) {
    &:before {
      background-image: url('../img/footer/mail.svg');
    }
  }
  &:nth-child(4) {
    &:before {
      background-image: url('../img/footer/reloj.svg');
    }
  }
}

.mt-footer__copyright {
  padding: 20px;
  background-color: $c-secondary;
  text-align: center;
  color: $c-neutro;
  @include font-rem(12px);
}
