/*------------------------------------*\
  Header
  Path: /components/Header.vue
\*------------------------------------*/

.mt-header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, .8);
}

.mt-header__list {
  position: relative;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  list-style: none;
  @include media-query(wide) {
    @include justify-content(space-between);
  }
}

.mt-header__brand-logo {
  display: block;
  width: 170px;
}

.mt-header__list-link {
  @include flexbox;
  @include align-items(center);
  text-decoration: none;
  @include font-rem(16px);
  font-weight: $f-semibold;
  color: $c-secondary;
  border: 1px solid transparent;
  transition: all .2s linear;
  &:after {
    content: '+';
    display: block;
    color: $c-secondary;
    padding-left: 6px;
  }
  &:hover {
    color: $c-primary;
    background-color: $c-menu-over;
    border: 1px solid $c-border-over;
    &:after {
      color: $c-primary;
    }
  }
  &:focus,
  &:active {
    background-color: $c-menu-over;
  }
}


@include media-query(wide-max) {
  .mt-header__list {
    &:before {
      content: '';
      position: fixed;
      width: 100%;
      top: 0%;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
      z-index: 1;
      display: block;
      background-color: rgba(0, 0, 0, 0.35);
      transition: all .3s linear;
    }
    &.menuOpen {
      &:before {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .mt-header__list-brand {
    position: relative;
    z-index: 3;
  }

  .mt-header__action {
    position: absolute;
    right: 0;
  }

  .mt-header__action-btn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 4; 
  }

  .mt-header__action-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    margin: auto;
    color: #fff;
    text-align: left;
    font-size: 1px;
    font-size: 0;
    background-color: #000; 
    transition: background-color 0s 0.25s;
  }

  .mt-header__action-icon {
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      transition-delay: 0.25s, 0s;
      transition-duration: 0.25s, 0.25s;
      background-color: #000;
    }
  }

  .mt-header__action-icon {
    &:before {
      left: 0;
      top: -8px;
      transition-property: top, transform, background-color;
    }
  }

  .mt-header__action-icon {
    &:after {
      left: 0;
      bottom: -8px;
      transition-property: bottom, transform, background-color;
    }
  }

  .menuOpen {
    .mt-header__action-icon {
      background-color: transparent;
      &:before {
        top: 0;
        transform: rotate(45deg);
      }
      &:after {
        bottom: 0;
        transform: rotate(-45deg);
      }
      &:before,
      &:after {
        transition-delay: 0s, 0.25s; 
      }
    }
  }

  .mt-header__list-group {
    position: fixed;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    top: 0;
    right: -100%;
    bottom: 0;
    opacity: 0;
    width: 100%;
    padding-top: 46px;
    z-index: 2;
    background-color: $c-neutro;
    border-left: 1px solid $c-border;
    box-shadow: 0px 0px 10px #4c4c4c;
    transition-delay: 0s, 0.25s;
    transition: all .3s linear;
  }

  .menuOpen  {
    .mt-header__list-group {
      right: 0;
      opacity: 1;
    }
  }

  .mt-header__nav {
    text-align: center;
    padding-top: 40px;
    width: 90%;
  }

  .mt-header__list-link {
    padding: 10px 16px;
    @include justify-content(center);
    &:not(:last-child) {
      border-bottom: 1px solid $c-border;
    }
  }
}

@include media-query(wide) {
  .mt-header__action {
    display: none;
  }

  .mt-header__nav {
    @include flexbox;
    @include align-items(center);
  }
  .mt-header__list-link {
    padding: 24px 16px 22px;
  }
}