/*------------------------------------*\
  Header
  Path: /components/Hero.vue
\*------------------------------------*/

.mt-hero {
  margin-top: 44px;
  width: 100%;
  background-image: url('../img/pagina-construccion-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @include media-query(small-m) {
    background-image: url('../img/pagina-construccion.jpg');
  }
  @include media-query(wide) {
    margin-top: 70px;
  }
}

.mt-hero__wrapper {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  width: 90%;
  max-width: 1280px;
  height: 90vh;
  margin: 0 auto;
  @include media-query(small-m) {
    text-align: left;
    @include justify-content(center);
  }
}

.mt-hero__header {
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  @include media-query(small-m) {
    width: 90%;
    max-width: 500px;
  }
}

.mt-hero__tittle {
  width: 160px;
  min-height: 44px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  background-image: url('../img/logo.svg');
  color: transparent;
  @include font-rem(1px);
  @include media-query(wide) {
    width: 210px;
    min-height: 50px;
  }
}

.mt-hero__txt {
  display: inline;
  background-color: rgba(17, 17, 17, 0.6);
  color: #fff;
  line-height: 1.4;
  padding: 0 10px;
  @include font-rem(28px);
  @include media-query(small-m) {
    @include font-rem(34px);
  }
}

.mt-hero__grid-btn {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  padding-top: 30px;
  margin: 0 -10px 0;
  @include flex-wrap(wrap);
  @include media-query(small-m) {
    @include justify-content(flex-start);
  }
}

.mt-hero__btn {
  margin: 0 10px 10px;
}