

.mt-principles__list {
  padding-left: 0;
  padding-bottom: 30px;
  list-style: none;
  color: $c-txt;
  @include media-query(wide) {
    padding-bottom: 30px;
  }
}

.mt-principles__list-item {
  @include flexbox;
  @include align-items(center);
  padding-bottom: 10px;
  @include font-rem(16px);
  @include media-query(wide) {
    @include font-rem(18px);
    
  }
  &:before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    height: 12px;
    width: 12px;
    margin-right: 10px;
    background-image: url('../img/bullet.svg');
  }
}