

.mt-services {
  padding: 40px 0 10px;
  @include media-query(wide) {
    padding: 60px 0 20px;
  }
}

.mt-services__grid {
  list-style: none;
}

.mt-services__grid {
  @include flexbox;
  @include align-items(stretch);
  @include justify-content(center);
  @include flex-wrap(wrap);
}

.mt-services__card {
  width: 100%;
  max-width: 340px;
  padding: 20px 20px 20px;
  text-align: center;
  color: $c-secondary;
  background-color: $c-neutro;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  margin: 0 10px 20px;
  @include media-query(medium) {
    max-width: 250px;
  }
  @include media-query(wide) {
    width: 270px;
    padding-top: 40px;
  }
  @include media-query(huge) {
    margin: 0 20px 40px;
    max-width: 270px;
  }

  &:before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    @include media-query(big) {
      height: 70px;
    }
  }
  &.mt-services__card_first {
    &:before {
      background-image: url('../img/card-1.svg');
    }
  }
  &.mt-services__card_second {
    &:before {
      background-image: url('../img/card-2.svg');
    }
  }
  &.mt-services__card_third {
    &:before {
      background-image: url('../img/card-3.svg');
    }
  }
  &.mt-services__card_fourth {
    &:before {
      background-image: url('../img/card-4.svg');
    }
  }  
}

.mt-services__card-title {
  @include font-rem(16px);
  font-weight: $f-bold;
  text-transform: uppercase;
  padding-bottom: 10px;
  @include media-query(wide) {
    @include font-rem(18px);
  }
}

.mt-services__card-txt {
  line-height: 1.4;
  @include font-rem(15px);
  @include media-query(wide) {
    @include font-rem(16px);
  }
}
