/*------------------------------------*\
  Tabs
  Path: /components/Tabs.vue
\*------------------------------------*/

.tabs-movie {
  &.v-tabs {
    margin: 40px 0;
  }

  .v-tabs-bar {
    height: initial;
    &.v-slide-group--is-overflowing {
      &.v-tabs-bar--is-mobile {
        &:not(.v-tabs-bar--show-arrows) {
          &:not(.v-slide-group--has-affixes) {
            .v-slide-group__prev {
              position: absolute;
            }
          }
        }
      }
    }
  }

  .v-tab {
    min-width: initial;
    max-width: initial;
    padding: 10px 16px;
    text-transform: none;
    @include font-rem(14px);
    font-weight: $f-semibold;
  }

  .v-tabs-slider {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -7px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 7.5px 0 7.5px;
      border-color: #000000 transparent transparent transparent;
    }    
  }

  .v-slide-group__wrapper {
    padding-bottom: 8px;
  }

}

.theme--light {
  &.tabs-movie {
    &.v-tabs {
      .v-tabs-bar {
        .v-tab {
          &:not(.v-tab--active) {
            color: $c-secondary;
          }
        }
      }
    }
  }
}
// Contenedor de cada tabs
.v-window {
  padding-top: 40px;
}

@include media-query(wide) {
  .tabs-movie {
    &.v-tabs {
      margin: 60px 0;
    }
    .v-tab {
      @include font-rem(18px);
      margin: 0 8px;
    }
    .v-tabs-bar {
      margin: 0 -8px;
    }
  }
  
  .v-window {
    padding-top: 60px;
  }  
}