<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.13.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/7.13.1/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
    <meta name="author" content="Modal Track" />
    <meta name="copyright" content="Modal Track ©" />
    <meta name="description" content="Modal Track es una compañía de logística y transporte encaminada a satisfacer puntualmente las necesidades de cada cliente."/>
    <meta name="keywords" content="Transporte, Carga terrestre, servicios logísticos, Contenedores, Importación, Exportación"/>
    <title>Modal Track</title>
  </head>
  <body>
    <!-- <noscript>
      <strong>We're sorry but project doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript> -->
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
