<template lang="pug">
  .algo
    p algooo
</template>

<script>
// @ is an alias to /src
import Hero from "@/components/Hero.vue";
import Tabs from "@/components/Tabs.vue";

export default {
  name: "home"
};
</script>
