/*------------------------------------*\
  Transversal Elements
  #Styles for botones
\*------------------------------------*/

button {
  line-height: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  outline-width: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    outline-width: 0;
  }
  &:disabled {
    cursor: default;
  }
}


.mt-btn {
  display: inline-block;
  padding: 14px 16px;
  min-width: 140px;
  line-height: 1.2;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: $c-neutro;
  @include font-rem(16px);
  font-weight: $f-semibold;
  background-color: $c-primary;
  transition: all .5s;
  border-radius: 4px;
  &:hover{
    color: $c-primary;
    background-color: $c-neutro;
    box-shadow: 0px 0px 10px #4c4c4c;
  }
  &:focus,
  &:active {
    color: $c-neutro;
    background-color: $c-secondary;
  }
  @include media-query(small-m) {
    min-width: 200px;
  }
}

.mt-btn_secondary {
  color: $c-primary;
  background-color: $c-neutro;
  &:hover{
    color: $c-neutro;
    background-color: $c-primary;
    box-shadow: 0px 0px 10px #4c4c4c;
  }
  &:focus,
  &:active {
    color: $c-neutro;
    background-color: $c-secondary;
  }
}


.mt-btn_outline {
  color: $c-neutro;
  border: 1px solid $c-neutro;
  background-color: transparent;
  &:hover{
    color: $c-secondary;
    border-color: $c-neutro;
    background-color: $c-neutro;
  }
  &:focus,
  &:active {
    color: $c-secondary;
    border-color: $c-neutro;
    background-color: $c-neutro;
  }
}

.btn-whatsapp {
  position: sticky;
  width: 40px;
  @include flexbox;
  @include align-items(center);
  height: 40px;
  bottom: 50px;
  margin: 0 30px 0 auto;
  transition: all .3s linear;
  text-decoration: none;
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/logo-whatsapp.svg');
    transition: all .3s linear;
  }
  span {
    font-size: 12px;
    display: block;
    background: transparent;
    text-decoration: none;
    padding: 6px 10px 6px 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    color: transparent;
    transition: all .3s linear;
    box-shadow: none;
  }
  &:hover {
    width: 150px;
    span {
      color: #111;
      background: white;
      box-shadow: 0px 0px 10px #c5c0c0;
    }
  }
}


@include media-query(wide) {
  .mt-btn {
    @include font-rem(16px);
  }
  .btn-whatsapp {
    width: 50px;
    height: 50px;
    bottom: 30px;
  }
}