/*------------------------------------*\
  Transversal Elements
  #Styles for layout
\*------------------------------------*/

.inner {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.inner_narrow {
  width: 80%;
  max-width: 740px;
}

.mt-bg {
  background-color: $c-bg;
}