/*------------------------------------*\
    Transversal Elements
    #Styles for Titles
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.mt-subtitle {
  @include font-rem(26px);
  color: $c-primary;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
  @include media-query(wide) {
    @include font-rem(40px);
    padding-bottom: 50px;
  }
}

.mt-subtitle_strong {
  color: $c-secondary;
}

.mt-caption {
  text-align: center;
  padding-bottom: 30px;
  line-height: 1.4;
  color: $c-txt;;
  @include font-rem(16px);
  @include media-query(wide) {
    @include font-rem(18px);
    padding-bottom: 40px;
  }
}

.mt-caption_strong {
  font-weight: $f-bold;
}