<template lang="pug">
  .mt-bg
    .inner.inner_narrow
      section.mt-about
        h2.mt-subtitle Sobre  
          strong.mt-subtitle_strong Nosotros
        p.mt-caption <strong class="mt-caption_strong">Modal Track</strong> es una compañía de logística y transporte encaminada a satisfacer  puntualmente las necesidades de cada cliente. Revolucionamos la manera de brindar servicios logísticos, con atención personalizada y de calidad. Buscamos la completa satisfacción de cada cliente con el fin de lograr un crecimiento mutuo.
        dl.mt-list-definition
          dt.mt-ld__term Misión
          dd.mt-ld__def Somos una compañía especializada en el transporte integral de contenedores, carga suelta, consolidada y en logística de operaciones para el cargue, transporte y descargue de todo tipo de mercancías, brindando a nuestros clientes una red de distribución oportuna y segura utilizando los más altos estándares de calidad, con una amplia red que integra a nuestros proveedores y aliados estratégicos con el desarrollo continuo de tecnologías de alta calidad con el fin de satisfacer las necesidades puntuales de cada cliente.  
          dt.mt-ld__term Visión
          dd.mt-ld__def Consolidarnos entre una de las compañías facilitadoras de servicio logísticos de transporte, más completas  con alcance de operaciones internacionales, convirtiéndonos en líderes para nuestros clientes y eje de desarrollo para nuestros  colaboradores y accionistas.
          dt.mt-ld__term Enfoque
          dd.mt-ld__def <strong>Modal Track </strong>nace con el fin de servir como apoyo logístico especializado a cada uno de nuestros clientes, nuestra promesa de valor se basa en la atención personalizada con cada uno de nuestros aliados ayudando a garantizar un éxito costo-beneficio para cada una de las operaciones que se desarrolla
</template>

<script>
export default {
  name: "About"
};
</script>
