<template lang="pug">  
  .inner.inner_narrow
    section.mt-contact
      h2.mt-subtitle Canales de 
        strong.mt-subtitle_strong Comunicación
      ul.mt-contact__list
        li.mt-contact__item.mt-contact__item_mail
          a(href="mailto:stevengamboa@modaltrack.com" alt="Enviar un correo electrónico" title="Envianos un correo electrónico") stevengamboa@modaltrack.com
        li.mt-contact__item.mt-contact__item_phone
          a(href="tel:+57301 3544999" alt="Número de teléfono" title="Llamanos al teléfono 301 3544999") Teléfono (+57) 301 3544999
        li.mt-contact__item.mt-contact__item_follow Síguenos en
          ul.mt-contact__social-list
            li.mt-contact__social.mt-contact__social_first
              a(href="#" title="Siguenos en Facebook") Facebook
            li.mt-contact__social.mt-contact__social_second
              a(href="#" title="Siguenos en Linkedin") Linkedin
            li.mt-contact__social.mt-contact__social_third
              a(href="#" title="Siguenos en Instagram") Instagram
</template>

<script>
export default {
  name: "Contact"
};
</script>
