<template lang="pug">
  footer.mt-footer
    .inner
      ul.mt-footer__nav
        li.mt-footer__nav-item.mt-footer__nav-item_brand
          ul.mt-footer__social-list
            li.mt-footer__social-item
              a.mt-footer__social-link(href="#") Facebook
            li.mt-footer__social-item
              a.mt-footer__social-link(href="#") Linkedin
            li.mt-footer__social-item
              a.mt-footer__social-link(href="#") Instagram
        li.mt-footer__nav-item
          p.mt-footer__title Nuestra compañía
          ul.mt-footer__list
            li.mt-footer__list-item
              a.mt-footer__list-link(:href="'#' + item" v-for="(item, index) in footerList") {{ item }}
        li.mt-footer__nav-item
          p.mt-footer__title Información de contacto
          ul.mt-footer__info-list
            li.mt-footer__info-item
              a.mt-footer__info-link(href="#") Calle 14b # 116 - 70 <br>Bogotá, Colombia
            li.mt-footer__info-item
              a.mt-footer__info-link(href="#") (+57) 319 6040253
            li.mt-footer__info-item
              a.mt-footer__info-link(href="#") gerencia@modaltrack.com
            li.mt-footer__info-item
              a.mt-footer__info-link(href="#") Lun - Vie  08:00 - 17:00
    .mt-footer__copyright
      p © <strong>2020 Modal Track.</strong> Todos los derechos reservados

</template>

<script>
import { Component, Vue } from "vue-property-decorator";

export default {
  name: "Contact",
  data() {
    return {
      footerList: {
        1: "Home",
        2: "Nuestros servicios",
        3: "Sobre nosotros",
        4: "Trabaja con nostoros",
        5: "Contacto"
      },
      isOpen: false
    };
  }
};
</script>
