<template lang="pug">
  header.mt-header
    .inner
      ul.mt-header__list(:class="{ 'menuOpen': isOpen}")
        li.mt-header__list-brand
          h1.mt-hero__tittle Modal Track SAS
        li.mt-header__action
          button.mt-header__action-btn(type="button", v-on:click="isOpen = !isOpen")
            span.mt-header__action-icon
              small(v-if="!isOpen") Abrir Menú
              small(v-else) Cerrar Menú
        li.mt-header__list-group
          nav.mt-header__nav
            a.mt-header__list-link.text(:href="'#' + item" v-for="(item, index) in menuList") {{ item }}

</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Header extends Vue {
  data() {
    return {
      menuList: {
        1: "Home",
        2: "Servicios",
        3: "Sobre nosotros",
        4: "Trabaja con nostoros",
        5: "Contacto"
      },
      isOpen: false
    };
  }
}
</script>
