<template lang="pug">
  .mt-hero
    .mt-hero__wrapper
      header.mt-hero__header
        p.mt-hero__txt Creemos en las cosas bien hechas, los principios no son negociables
        .mt-hero__grid-btn
          button.mt-btn.mt-hero__btn.mt-btn_secondary(type="button") Leer más
          button.mt-btn.mt-hero__btn.mt-btn(type="button") Contáctanos
</template>

<script>
export default {
  name: "Hero"
};
</script>
