<template lang="pug">
  .mt-bg
    .inner.inner_narrow
      section.mt-principles
        h2.mt-subtitle Principios 
          strong.mt-subtitle_strong Organizacionales
        ul.mt-principles__list
          li.mt-principles__list-item Trabajamos en equipo, cada aporte es importante.
          li.mt-principles__list-item Creemos en las cosas bien hechas, los principios no son negociables.
          li.mt-principles__list-item Mejoramos la calidad de vida de nuestros colaboradores.
          li.mt-principles__list-item Contribuimos al desarrollo de la región y el país.
</template>

<script>
export default {
  name: "Principles"
};
</script>
