<template lang="pug">
  .mt-bg
    .inner
      section.mt-services
        h2.mt-subtitle Nuestros 
          strong.mt-subtitle_strong Servicios
        ul.mt-services__grid
          li.mt-services__card.mt-services__card_first
            h3.mt-services__card-title Transporte de carga terrestre
            p.mt-services__card-txt Contenedores en Importación y Exportación, Transporte de DTA y OTM, Carga Suelta, Carga Granel y Distribución Nacional. 
          li.mt-services__card.mt-services__card_second
            h3.mt-services__card-title Transporte de carga especial
            p.mt-services__card-txt Tuberías, derivados del acero, transporte en Tolvas graneleras, carga extra dimensionada y mercancías peligrosas.
          li.mt-services__card.mt-services__card_third
            h3.mt-services__card-title Servicios logisticos
            p.mt-services__card-txt Desconsolidación de contenedores, cuadrillas especializadas de descargue, agenciamiento de aduanas, entre otros.
          li.mt-services__card.mt-services__card_fourth
            h3.mt-services__card-title Proyectos especiales
            p.mt-services__card-txt Diseño según necesidades del cliente: diagnostico y planeación, orientación, control y optimización de procesos.
      
</template>

<script>
export default {
  name: "Services"
};
</script>
