<template lang="pug">
    v-tabs.tabs-movie
      v-tab All
      v-tab New Releases
      v-tab Most Popular
      v-tab Trends
      v-tab My Favorities
      v-tab Recommendatios
      v-tab-item
        .grid
          .grid__item(v-for="(item, index) in listAllMovies")
            figure.grid__card
              img.grid__card-img(
                :src="'https://image.tmdb.org/t/p/w370_and_h556_bestv2/' + item.poster_path",
                :alt="'Imagen de la pelicula' + item.title")
              figcaption.grid__card-info
                p.grid__card-title {{ item.title }}
                 .grid__actions
                  a.btn(:href="'https://www.themoviedb.org/movie/' + item.id + '#' + 'play=6ZfuNTqbHE8'" title="Ir a Whatch now") Watch now
                  a.btn.btn_outline(:href="'https://www.themoviedb.org/movie/' + item.id" title="Ir a More info") More info
      v-tab-item
        .grid
          .grid__item(v-for="(item, index) in listReleasesMovies")
            figure.grid__card
              img.grid__card-img(
                :src="'https://image.tmdb.org/t/p/w370_and_h556_bestv2/' + item.poster_path",
                :alt="'Imagen de la pelicula' + item.title")
              figcaption.grid__card-info
                p.grid__card-title {{ item.title }}
                 .grid__actions
                  a.btn(:href="'https://www.themoviedb.org/movie/' + item.id + '#' + 'play=6ZfuNTqbHE8'" title="Ir a Whatch now") Watch now
                  a.btn.btn_outline(:href="'https://www.themoviedb.org/movie/' + item.id" title="Ir a More info") More info
      v-tab-item
        .grid
          .grid__item(v-for="(item, index) in listMostPopularMovies")
            figure.grid__card
              img.grid__card-img(
                :src="'https://image.tmdb.org/t/p/w370_and_h556_bestv2/' + item.poster_path",
                :alt="'Imagen de la pelicula' + item.title")
              figcaption.grid__card-info
                p.grid__card-title {{ item.title }}
                 .grid__actions
                  a.btn(:href="'https://www.themoviedb.org/movie/' + item.id + '#' + 'play=6ZfuNTqbHE8'" title="Ir a Whatch now") Watch now
                  a.btn.btn_outline(:href="'https://www.themoviedb.org/movie/' + item.id" title="Ir a More info") More info
      v-tab-item
        .grid
          .grid__item(v-for="(item, index) in listTrendsMovies")
            figure.grid__card
              img.grid__card-img(
                :src="'https://image.tmdb.org/t/p/w370_and_h556_bestv2/' + item.poster_path",
                :alt="'Imagen de la pelicula' + item.title")
              figcaption.grid__card-info
                p.grid__card-title {{ item.title }}
                 .grid__actions
                  a.btn(:href="'https://www.themoviedb.org/movie/' + item.id + '#' + 'play=6ZfuNTqbHE8'" title="Ir a Whatch now") Watch now
                  a.btn.btn_outline(:href="'https://www.themoviedb.org/movie/' + item.id" title="Ir a More info") More info
      v-tab-item
        .grid
          .grid__item(v-for="(item, index) in listFavoritiesMovies")
            figure.grid__card
              img.grid__card-img(
                :src="'https://image.tmdb.org/t/p/w370_and_h556_bestv2/' + item.poster_path",
                :alt="'Imagen de la pelicula' + item.title")
              figcaption.grid__card-info
                p.grid__card-title {{ item.title }}
                 .grid__actions
                  a.btn(:href="'https://www.themoviedb.org/movie/' + item.id + '#' + 'play=6ZfuNTqbHE8'" title="Ir a Whatch now") Watch now
                  a.btn.btn_outline(:href="'https://www.themoviedb.org/movie/' + item.id" title="Ir a More info") More info
      v-tab-item
        .grid
          .grid__item(v-for="(item, index) in listRecommendationssMovies")
            figure.grid__card
              img.grid__card-img(
                :src="'https://image.tmdb.org/t/p/w370_and_h556_bestv2/' + item.poster_path",
                :alt="'Imagen de la pelicula' + item.title")
              figcaption.grid__card-info
                p.grid__card-title {{ item.title }}
                 .grid__actions
                  a.btn(:href="'https://www.themoviedb.org/movie/' + item.id + '#' + 'play=6ZfuNTqbHE8'" title="Ir a Whatch now") Watch now
                  a.btn.btn_outline(:href="'https://www.themoviedb.org/movie/' + item.id" title="Ir a More info") More info
</template>

<script>
import movieList from "@/api/movies.json";

export default {
  name: "Tabs",
  // components: {

  // },
  data() {
    return {
      list: movieList,
      listAllMovies: [],
      listAllMoviesKeys: [],
      listTrendsMovies: [],
      listTrendsMoviesKeys: [],
      listMostPopularMovies: [],
      listReleasesMovies: [],
      listFavoritiesMovies: [],
      listRecommendationssMovies: []
    };
  },
  methods: {
    showAllMovies: function() {
      let all = this.list.all.results;
      Object.keys(all).forEach(key => {
        let listAllMoviesKeys = this.list.all.results[key];
        this.listAllMovies.push(this.list.all.results[key]);
      });
    },
    showNewReleasesMovies: function() {
      let newReleases = this.list.all.results;
      this.listReleasesMovies = newReleases
        .sort(function(a, b) {
          return new Date(b.release_date) - new Date(a.release_date);
        })
        .slice(0, 6);
    },
    showMostPopularMovies: function() {
      let popular = this.list.all.results;
      this.listMostPopularMovies = popular
        .sort(function(a, b) {
          return b.popularity - a.popularity;
        })
        .slice(0, 8);
    },
    showMostTrendMovies: function() {
      Object.keys(this.list.all.results).forEach(key => {
        let listTrendsMoviesKeys = this.list.trends.results[key];
        this.listTrendsMovies.push(this.list.trends.results[key]);
      });
    },
    showFavoritiesMovies: function() {
      let favorite = this.list.all.results;
      this.listFavoritiesMovies = favorite
        .sort(function(a, b) {
          return b.vote_average - a.vote_average;
        })
        .slice(0, 10);
    },
    showRecommendationsMovies: function() {
      let recommendations = this.list.all.results;
      Object.keys(recommendations).forEach(key => {
        let listAllMoviesKeys = this.list.recommendations.results[key];
        this.listRecommendationssMovies.push(
          this.list.recommendations.results[key]
        );
      });
    }
  },
  mounted: function() {
    this.showAllMovies();
    this.showNewReleasesMovies();
    this.showMostPopularMovies();
    this.showMostTrendMovies();
    this.showFavoritiesMovies();
    this.showRecommendationsMovies();
  }
};
</script>
