/*------------------------------------*\
    #font-family Akrobat
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/*------------------------------------*\
    #font-family Ico: Porvenir
\*------------------------------------*/

@font-face {
  font-family: '#{$ico-font-family}';
  src: url('#{$font-path}/#{$ico-font-family}.eot?owmbll');
  src: url('#{$font-path}/#{$ico-font-family}.eot?owmbll#iefix') format('embedded-opentype'),
  url('#{$font-path}/#{$ico-font-family}.ttf?owmbll') format('truetype'),
  url('#{$font-path}/#{$ico-font-family}.woff?owmbll') format('woff'),
  url('#{$font-path}/#{$ico-font-family}.svg?owmbll##{$ico-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: $f-regular;
  color: $c-secondary;
  line-height: 1.4;
}

.i-,
[class^="i-"],
[class*=" i-"] {
  &:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $ico-font-family !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$ico-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.i-slider-indicator-active {
  &:before {
    content: $i-slider-indicator-active; 
  }
}
.i-slider-indicator {
  &:before {
    content: $i-slider-indicator; 
  }
}
.i-tab-indicator {
  &:before {
    content: $i-tab-indicator; 
  }
}
