<template lang="pug">
  <div id="app">
    Header
    Hero
    Services
    About
    Principles
    Contact
    a.btn-whatsapp(href="https://api.whatsapp.com/send?phone=573013544999&text=Buen%20día%2C%20me%20gustaría%20tener%20mas%20información%20sobre%20un%20transporte%20que%20necesito%20realizar." target="_blank")
      span Escribenos por <br>WhatsApp
    Footer
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import Hero from "@/components/Hero.vue";
import Services from "@/components/Services.vue";
import About from "@/components/About.vue";
import Principles from "@/components/Principles.vue";
import Contact from "@/components/Contact.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "app",
  components: {
    Header,
    Hero,
    Services,
    About,
    Principles,
    Contact,
    Footer
  }
};
</script>
